body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.articleCard{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    border: solid 3px black;
    border-radius: 20px;
    align-items: center;
    padding: 20px
}

.articleList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: 30px;
    flex-direction: row;
}

#articleImage{
    height: 100px;
    width: 150px;
    border-radius: 20px;
    margin: auto;
    float: right
}

.articleItem{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 48%;
    margin-bottom: 10px; 
    box-sizing: border-box; 
}
.container{
    align-items: right;
}

#singleArticle{
    display: flex;
    flex-wrap: wrap;

    
}
#voteButton{
    justify-self: right;
    
    
}

