body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.articleCard{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    border: solid 3px black;
    border-radius: 20px;
    align-items: center;
    padding: 20px
}

.articleList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: 30px;
    flex-direction: row;
}

#articleImage{
    height: 100px;
    width: 150px;
    border-radius: 20px;
    margin: auto;
    float: right
}



#singleArticle{
    border: 4px solid ;
    border-radius: 20px;
}
#voteInfo{
    justify-self: right;
}

.comment{
    display:flex;
    flex-wrap:wrap;
    flex: 1 1 calc(33.333% - 20px); 
    margin: 10px;                  
    box-sizing: border-box; 
    border: 3px solid;
    padding: 4px;
    margin: 4px; 
    border-radius: 20px;
    width: 30%;
}

.commentsContainer {
    display: flex;                 
    flex-wrap: wrap;              
    justify-content: space-between; 
}

#commentsSection {
    border: 1px solid black; 
    border-radius: 5px; 
    margin-top: 10px;
    padding: 20px; 
}